// PER PAGINE CREATE ED EDIT

form {
   // width: 80%;
}

input {
    width: 100%;
}

.input-row {
    width: 100%;
    margin-top: 10px;
    @include flex(column, flex-start, center);
}

.input-group {
    width: 100%;
    @include flex(row, space-between, center)
}


textarea {
    width: 100%;
}


// PER IMMAGINI IN EDIT
.img-apt-box {
    position: relative;
    height: 100px;
    width: 100px;
    object-fit: contain;
    overflow: hidden;
    & img {
        width: 100%;
        height: 100%;
    }
}





.x {
    color: red;
    position: absolute;
    right: 7%;
    top: 7%;
}


.img-delete:hover {
    cursor: pointer;
}