.top-section {
    

    .title-apt {
        padding: 20px 0;
        text-align: center;
        .title {
            font-size: 22px;
        }

        .address-apt {
            color: black;
            text-decoration: none;
            font-size: 14px;
        }
    }
}
.container-slider-app{
    width: 100%;
    @include flex(row,center, center);
}
.slider-section {
    align-self: center;
    width:100%;
    margin-bottom: 6rem;
    
    @include flex(row,center,center);
    // background-color: tomato;
    height: 40rem;
    .apt-images{
        width: 100%;
        height: 400px;
        // background-color: tomato;
        border-radius: $card-img-radius;
        @include flex(row, space-between, center);
        position: relative;

        .apt-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .arrow-slider-sx {
            font-size: 15px;
            color: lightgrey;
            position: absolute;
            left: 10px;
        }

        .arrow-slider-sx:hover {
            transform: scale(2);
            color: #ff5a5f;
        }

        .arrow-slider-dx {
            font-size: 15px;
            color: lightgrey;
            position: absolute;
            right: 10px;

        }

        .arrow-slider-dx:hover {
            transform: scale(2);
            color: #ff5a5f;
        }

    }
}

.info-apt-section {
    font-size:1.4rem;
    margin-bottom: 5rem;
    @include flex(row, space-between, flex-start);
     
    @media screen and (max-width:1376px){
        @include flex(column, center,center);
    }
   

    .info-box-sx {
        flex: 1;
        height: 100%;
        // background-color: red;


        .info-apt-summary {
            @include flex(row, space-between, center);
            padding: 10px 20px;

            .info-host {
                font-size: 22px;
                font-weight: 500;
            }

            .info-apt {
                font-size: 16px;
            }

            // .price {
            //     font-size: 12px;
            // }

            .host-logo {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                
            }
        }

      

        .apt-description {
            padding: 20px 20px;
            font-size: 16px;
        }

        .services-box {
            padding: 10px 20px;

            .services-title {
                font-size: 22px;
                font-weight: 500;
                padding-bottom: 10px;
            }

            .service {
                font-size: 16px;
                padding: 5px;
                list-style-type: none;

                    .service-head{
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 5px;

                        .service-icon{
                            padding-right: 10px;
                            color: red;
                        }
                    }
                }
            }
        }

    .info-box-dx {
        height: 100%;
        // background-color: blue;
        flex:0.5;
        position: sticky;
        -webkit-position: sticky;
        top: 10rem;
        z-index:2;
        @media screen and (max-width:1376px){
            flex:1 1 100%;
        }
        .send-message-box {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            border-radius: $card-img-radius;


            .message-title {
                font-size: 22px;
                padding-bottom: 12px;
                width: 100%;
                text-align: center;
            }

            .message-form {
                display: flex;
                flex-direction: column;
                align-self: flex-end;
                margin-right: 0px;

                 

                .btn-show {
                    margin-right: 0px;
                }

                .btn-show a{
                    font-size: 16px;
                    text-decoration-line: none;
                    color: black;
                }

                label {
                    font-size: 16px;
                }

            }
        }
    }
}

.map-section {
    width: 100%;
    height: 400px;
    margin: 10px auto;
}
.map-apaetment{
    width: 100%;
    height: 100%;
}
.firstname-message,.lastname-message,.email-message,.message{
    margin-bottom:1rem;
}
.services{
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
}
.img-apartment-host{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:inherit;
}