
.container-center {
    height: 100%;
}
.message-deck {
    width: 100%;
    @include flex(column, flex-start, center)
}

.message-card {
    width: 60%;
    min-height: 100px;
    // background-color: tomato;
    margin-top: 10px;
    border: 1px solid #e2e2e2;
    border-radius: $card-img-radius;
    @include flex(row,flex-start, center);
}

.apart-info {
    width: 20%;
    min-height: 100px;
    height: 100%;
    border-right: 1px solid #e2e2e2;
    @include flex(column, space-around, center);

    & .apart-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-image: url('https://st3.idealista.it/news/archivie/styles/news_detail/public/2019-08/casa_malaga_fachada.jpg?sv=L9VS5bO4&itok=BhTqfmqO');
        background-size: contain;
    }

       
    
    

}

.message-info {
    width: 80%;
    min-height: 100px;
    height: 100%;
    @include flex(columns, flex-start, center);

    
}