@import url(https://fonts.googleapis.com/css?family=Nunito);*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:hover {
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

/* media query */

:root {
  --pink-bnb: rgb(255,90,95);
  --turcoise-bnb: rgb(0,166,153);
  --orange-bnb: rgb(252,100,45);
  --dark-gray: rgb(72,72,72);
  --light-gray: rgb(118,118,118);
}

@media screen and (max-width: 414px) {
  .col-xs-12 {
    width: 100%;
  }

  .col-xs-11 {
    width: calc((100% / 12) * 11);
  }

  .col-xs-10 {
    width: calc((100% / 12) * 10);
  }

  .col-xs-9 {
    width: calc((100% / 12) * 9);
  }

  .col-xs-8 {
    width: calc((100% / 12) * 8);
  }

  .col-xs-7 {
    width: calc((100% / 12) * 7);
  }

  .col-xs-6 {
    width: calc((100% / 12) * 6);
  }

  .col-xs-5 {
    width: calc((100% / 12) * 5);
  }

  .col-xs-4 {
    width: calc((100% / 12) * 4);
  }

  .col-xs-3 {
    width: calc((100% / 12) * 3);
  }

  .col-xs-2 {
    width: calc((100% / 12) * 2);
  }
}

@media screen and (max-width: 800px) {
  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: calc((100% / 12) * 11);
  }

  .col-md-10 {
    width: calc((100% / 12) * 10);
  }

  .col-md-9 {
    width: calc((100% / 12) * 9);
  }

  .col-md-8 {
    width: calc((100% / 12) * 8);
  }

  .col-md-7 {
    width: calc((100% / 12) * 7);
  }

  .col-md-6 {
    width: calc((100% / 12) * 6);
  }

  .col-md-5 {
    width: calc((100% / 12) * 5);
  }

  .col-md-4 {
    width: calc((100% / 12) * 4);
  }

  .col-md-3 {
    width: calc((100% / 12) * 3);
  }

  .col-md-2 {
    width: calc((100% / 12) * 2);
  }
}

@media screen and (max-width: 1920px) {
  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: calc((100% / 12) * 11);
  }

  .col-lg-10 {
    width: calc((100% / 12) * 10);
  }

  .col-lg-9 {
    width: calc((100% / 12) * 9);
  }

  .col-lg-8 {
    width: calc((100% / 12) * 8);
  }

  .col-lg-7 {
    width: calc((100% / 12) * 7);
  }

  .col-lg-6 {
    width: calc((100% / 12) * 6);
  }

  .col-lg-5 {
    width: calc((100% / 12) * 5);
  }

  .col-lg-4 {
    width: calc((100% / 12) * 4);
  }

  .col-lg-3 {
    width: calc((100% / 12) * 3);
  }

  .col-lg-2 {
    width: calc((100% / 12) * 2);
  }
}

@media screen and (min-width: 1921px) {
  .col-xl-12 {
    width: 100%;
  }

  .col-xl-11 {
    width: calc((100% / 12) * 11);
  }

  .col-xl-10 {
    width: calc((100% / 12) * 10);
  }

  .col-xl-9 {
    width: calc((100% / 12) * 9);
  }

  .col-xl-8 {
    width: calc((100% / 12) * 8);
  }

  .col-xl-7 {
    width: calc((100% / 12) * 7);
  }

  .col-xl-6 {
    width: calc((100% / 12) * 6);
  }

  .col-xl-5 {
    width: calc((100% / 12) * 5);
  }

  .col-xl-4 {
    width: calc((100% / 12) * 4);
  }

  .col-xl-3 {
    width: calc((100% / 12) * 3);
  }

  .col-xl-2 {
    width: calc((100% / 12) * 2);
  }
}

.container {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
}

.container-center {
  padding: 0 8rem;
  width: 80%;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 80px;
}

.nav__logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.nav__logo img {
  height: 3.2rem;
}

.nav__search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav__search-button {
  height: 4.8rem;
  width: 30rem;
  cursor: pointer;
  border-radius: 3.2rem;
  -webkit-border-radius: 3.2rem;
  -moz-border-radius: 3.2rem;
  -ms-border-radius: 3.2rem;
  -o-border-radius: 3.2rem;
  transition: all 0.2s;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 2rem;
}

.nav__search-button:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  border: 1px solid transparent;
}

.nav__search-icon {
  height: 3rem;
  width: 3rem;
  background-color: rebeccapurple;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.nav__user {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

