
.message-deck {
    width: 100%;
    @include flex(column, flex-start, center)
}

.message-card {
    width: 60%;
    min-height: 100px;
    // background-color: tomato;
    margin-top: 10px;
    border: 1px solid #e2e2e2;
    border-radius: $card-img-radius;
    @include flex(row,flex-start, center);
}

.apart-info {
    width: 20%;
    min-height: 100px;
    height: 100%;
    border-right: 1px solid #e2e2e2;
    @include flex(column, space-around, center);

    & .apart-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }

       
    
    

}
.message-info {
    width: 80%;
    min-height: 150px;
    height: 100%;
    @include flex(columns, flex-start, center);
}
.chart-section{
    @include flex(column,flex-start,stretch);
}
#chart-views{
    max-width: 100%;
    
}
#chart-messages{
    max-width: 100%;
}
.btn-show{
    width:100%
}