ul,li{
    list-style: none;
    margin: 10px;
}
.messaggi{
    padding: 10px;
    text-align: center;
}
.CommentForm .comment-wrap, .commentlist .comment-wrap, .comment ul .comment-wrap {
    position: relative;
    display: grid;
    grid-template-columns: 130px minmax(120px,1fr) 25px;
    grid-gap: 2rem;
    background: white;
    color: black;
    box-shadow: 0 4px 10px #686868;
    padding: 2rem;
    border-radius: 16px;
        .comment-author {
        color: black;
        font-weight: 700;
        font-size: 24px;
        
}
.comment-time {
    margin: 0 0 1rem;
    i{
        padding-right: 5px;
        color: rgb(146, 144, 144);
    }
}
.article-content {
    overflow-wrap: break-word;
    margin: 0 0 1.5rem;
    border-radius: 8px;
}
.comment-content{
    padding-top: 10px;
    padding-right: 5px;
    i{
        padding-right: 5px;
        color: rgb(146, 144, 144);
    }
}
.comment-actions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.delete{
    i{
        font-size: 18px;
        color:black;
        cursor: pointer;
        padding: 10px;
    }
}
.comment-body{
    border-right: 1px solid gray;
}
}