.container-center {

    .title {
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }

    .messages-box{
        height: 100%;
        width: 100%;
        // background-color: green;
        padding: 10px 0;
        @include flex(column, center, center);
        @include responsive(phone){
            padding: 0;
        }

        .message-card {
            min-height: 100px;
            width: 100%;
            // background-color: red;
            @include flex(row, center, center);
            border: 1px solid #ff5a5f;
            border-radius: 15px;
            @include responsive(phone){
                @include flex(column, center, center);
            }

            .message-card-sx{
                width:20%;
                height: 100%;
                // background-color: yellow;
                border-radius: 15px;
                @include flex(column, center, center);

                .apart-img img {
                    display: flex;
                    width: 150px;
                    height: 150px;
                    border-radius: 15px;
                    @include responsive(phone){
                        padding-top: 10px;
                    }
                }

            }

            .message-card-center{
                width:70%;
                height: 100%;
                min-height: 100px;
                // background-color: blue;
                @include flex(column, flex-start, center);
                @include responsive(phone){
                    width: 90%;
                }


                .sender-details-up {
                    width:100%;
                    padding: 20px 0;
                    @include flex(column, center, center);

                    .details-sender{
                        width:100%;
                        @include flex(row, space-around, center);

                        @include responsive(phone){
                            @include flex(column, center, center);
                            text-align: center;
                            padding: 10px 0;
                        }

                        .details {
                            font-size: 18px;
                            @include responsive(phone){
                                text-align: center;
                            }
                        }
                    }

                    .details-apt {
                        padding-top: 10px;
                        font-size: 12px;
                        text-align: center;

                        .apt-link {
                            color: black;
                            text-decoration: none;
                        }

                        a:hover {
                            color: #ff5a5f;
                        }
                    }
                }

                .sender-details-down {
                    padding: 0 20px;
                    @include flex(row, center, center);
                    @include responsive(phone){
                        @include flex(column, center, center);
                        height:100%;
                        width: 100%;
                        padding: 0 5px;
                    }

                    .message {
                        padding-top: 15px;
                        font-size: 16px;
                        color: black;
                        border-top: 1px solid #ff5a5f;
                        max-height: 1000px;
                        text-align:justify;

                    }
                }
            }

            .message-card-dx{
                width:10%;
                height: 100%;
                // background-color: pink;
                border-radius: 15px;
                @include responsive(phone){
                    width:100%;
                }

                .button-section {
                    .buttons {
                        width:100%;
                        @include flex(row, space-around, center);
                        @include responsive(phone){
                            height:100%;
                            padding-bottom: 10px;
                        }

                        .msg-btn {
                            color: gray;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
