.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #6790c5 0%, #ac7085 100%);;
  padding: 50px;

}

.left, .middle, .right{
  float:left;
  position:relative;
  background-color:#fff;
  width:33%;
}

.left, .right{
  transition:.7s ease-in-out;
  
  &.open{
    transform:rotateY(0deg);
    transition:.7s ease-in-out;
  }
}

.left{
  z-index:20;
  transform: rotateY(180deg);
  transform-origin:100% 50%;
  
}

.right{
  transform: rotateY(-180deg);
  transform-origin:0% 50%;
}

.front{
  transform:rotateY(180deg);
  z-index:5;
  &.display{
    display: none;
  }
}

.back{
  background-color:#fff;
  z-index:4;
  display: none;
  
  &.open{
    z-index:10;
    display: block;
  }
}

.sectionWrap{
  padding:40px;
  box-sizing:border-box;
  overflow:hidden;
  min-height: 400px;
}
h1{
  font-family: 'Playfair Display', serif;
  font-size:3em;
  line-height:1;
  color:#34495e;
}
p{
  font-size:1.2em;
  max-height:100px;
  text-overflow: clip;
}
hr{
  border:3px solid #34495e;
  width:30px;
  margin:12px 0 8px 1px;
  text-align:left;
}

.openB{
  background-color:transparent;
  border:2px solid rgba(0,0,0,0.5);
  padding:5px;
  position:absolute;
  min-width:120px;
  max-width:150px;
  z-index:50;
  bottom:30px;
  font-weight:400;
  font-size:1em;
  opacity:.7;
  transition:.2s ease-in-out;
  cursor:pointer;
}
.openB:hover,.pay:hover{
  background-color:rgba(0,0,0,1);
  color:white;
  transition:.2s ease-in-out;
}
.closeB{
  position:absolute;
  border:none;
  background-color:rgba(0,0,0,0.4);
  color:white;
  z-index:50;
  width:30px;
  font-size:1em;
  cursor:pointer;
  height:30px;
  top:10px;
  right:10px;
  border-radius:50%;
  display:none;
}
.closeB:hover{
  background-color:rgba(0,0,0,0.2);
  transition:.2s ease-in-out;
}

#sponsorBasic,#sponsorMedium,#sponsorPremium{
  margin: 9px;
  width: 15px;
}

.sponsorizza{
  padding: 7px;
}

.pay{
  background-color:transparent;
  border:2px solid rgba(0,0,0,0.5);
  padding:3px;
  position:absolute;
  bottom:30px;
  font-weight:400;
  font-size:1em;
  opacity:.7;
  cursor:pointer;
}

.btn-succes{
  background-color:transparent;
  padding:13px;

  opacity:.7;
  transition:.2s ease-in-out;
  cursor:pointer;
  border: 1px solid gray;
  margin-top: 10px;
}
.form-container{
  display: none;

}
.active{
  display: block;
  padding: 50px;
}

.braintree-heading{
  text-align: center;
  padding: 5px;
  font-size: bold;
}
