*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    font-family: 'Montserrat', sans-serif;
}
button {
    
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:hover {
    
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:active {
    outline: none;
    border: none;
  }
  
  button:focus {
    outline: 0;
  }
  main{
    min-height: calc(100vh - (var(--footer-height) + var(--nav-height)));
  }