/* media query */
@mixin responsive($breakpoint){
    @if $breakpoint == phone {
        @media screen and (max-width:414px){
            @content
        }
    };
    @if $breakpoint == tab{
        @media screen and (max-width:800px){
            @content
        }
    };
    @if $breakpoint == desktop{
        @media screen and (max-width:1920px){
            @content
        }
    };
    @if $breakpoint == large_desktop{
        @media screen and (min-width:1921px){
            @content
        }
    };
}
@mixin flex($direction,$justify,$align-items) {
    display:flex;
    justify-content:$justify;
    align-items:$align-items;
    flex-direction:$direction;
}