:root{
    --pink-bnb: rgb(255,90,95);
    --turcoise-bnb: rgb(0,166,153);
    --orange-bnb: rgb(252,100,45);
    --dark-gray: rgb(72,72,72);
    --light-gray: rgb(118,118,118);
}
$card-img-radius: .8rem;