:root{
    --pink-bnb: rgb(255,90,95);
    --turcoise-bnb: rgb(0,166,153);
    --orange-bnb: rgb(252,100,45);
    --dark-gray: rgb(72,72,72);
    --light-gray: rgb(118,118,118);
    --nav-height:8rem;
    
    //height width
    --footer-height:15rem;
    --nav-height:8rem;
    //color font- 
    --color-font-black:#222222;
    //buttons
    --button-color-withe: #fff;
    --button-color-hover:#F7F7F7;

    //form
    --form-radius:1.1rem;
}
$card-img-radius: 1.2rem;
$box-shadow:0px 10px 17px 0px rgba(50, 50, 50, 0.6);



